# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environments
venv/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Model checkpoints
*.pth
*.pt
checkpoints/

*.pkl

# Logs
*.log

# OS
.DS_Store
Thumbs.db

Foursquare/
Yelp/

